/_ngo
/_xmsgs
/ipcore_dir
/iseconfig
/xlnx_auto_0_xdb
/xst
*.exe
*.log
*.xml
*.map
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.jhd
*.lso
*.mrp
*.ncd
*.ngd
*.ngm
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.schbak
*.schlog
*.schcmd
*.syr
*.txt
*.ut
*.unroutes
*.vhf
*.wdb
*.xpi
*.xmsgm
*.xrpt
*.xwbt
*.spl
*.cmd
*.xise
*.xst
*.ngr
*.csv
sch2HdlBatchFile
*.bit
*.xmsgs